body {
padding:0;margin:0 auto;
    background:#ECEFF1;
    position:relative;
    top: -35px;

}
#head{
    display: block;
    background: #2563ea
;
    width: 100%;
    height: 230px;
    position:relative;
    top:-37px;
    z-index: 1;
}
#logo{
position: relative;
    top:0px;
}

legend{
    position:relative;
    top:0px;
    color:#a9a9a9;
    font-size: 20px;
    font-family:sans-serif;
    
}
#box{
    position:relative;
    top:-181px;
	width:90%;
	max-width:650px;
	height:580px;	
	background-color:rgba(255,255,255,1);
	border-radius:2px;
	padding:20px 0 0 0;
	margin:0px auto;
    z-index: 2;


}
#userdiv
{
    background: #ffffff url(logo.png) no-repeat center;
    width: 200px;
    height: 200px;
    margin: 5px;
}


/**------------USER------------**/
#user{
border:0px #ccc solid;
    border-bottom:1px #ccc solid; color:#212121;background:rgba(255,255,255,0.1);opacity: 1;
height:40px;font-size:16px;
/* display:block;width:230px; */
text-align:right;border-radius:0px;
font-family:inherit;outline: none;
}
/**--------------------PASSWORD----------**/
#pass{
    border:0px #ccc solid;
    border-bottom:1px #ccc solid;
    color:#212121;background:rgba(255,255,255,0.1);opacity: 1;height:40px;font-size:16px;
display:block;margin:5px;width:230px;text-align:center;border-radius:0px;font-family:inherit;outline: none;
}
/*---------------Boton---------*/
#boton{
	-webkit-appearance:none;color:#fff;
	background:#2563ea; background-image:url(lock.png);
	background-repeat: no-repeat; background-position:center; opacity: 1;
    border:none;border-radius:5px;height:42px;width:234px;font-size:16px;font-weight:400;outline:0;text-transform:uppercase;
    letter-spacing:1.5px;cursor:pointer
    }
#boton:hover{
	background-color:#1521c5;-webkit-transition:all 0.3s ease;-moz-transition:all 0.3s ease;-o-transition:all 0.3s ease;transition:all 0.3s ease
	}
    .vertical-form .footer{
        position: relative;
        top:-100px;
        text-align:center;
color:#ccc;}
.vertical-form .footer a{text-decoration:none;color:#1521c5;}
    @media (max-width:450px){

       }
/*-----------------button------------*/
#button{
    text-align: center;
	-webkit-appearance:none;color:#fff;
	background:#2563ea;
	background-repeat: no-repeat; background-position:center; opacity: 1;
    border:none;border-radius:5px;height:42px;width:234px;font-size:16px;font-weight:400;outline:0;text-transform:uppercase;
    letter-spacing:1.5px;cursor:pointer
    }
#button:hover{
    background-color:#2563ea;-webkit-transition:all 0.3s ease;-moz-transition:all 0.3s ease;-o-transition:all 0.3s ease;transition:all 0.3s ease
    }
